h2 {
  font-size: 34px;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 300px;
}
li {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  height: 80px;
  background-color: #dddddd;
  color: black;
  vertical-align: middle;
}
li button {
  height: 30px;
  border-radius: 100px;
  text-align: center;
  justify-content: center;
}
a {
  background-color: #ffffff;
  border-radius: 100px;
  padding: 25px 100px;
  display: grid;
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight: 700;
  vertical-align: middle;
  -ms-text-combine-horizontal: center;
  margin-bottom: 50px;
}

a:hover {
  color: #5087b5;
}

.contentContainer {
  width: 1400px;
  text-align: center;
  margin: 0 auto;
}
