<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Thymeleaf</title>
</head>
<body>
	<h1>Template Engine :: Thymeleaf</h1>

	<h2>1. Thymeleaf란?</h2>
	<p>
		Thymeleaf는 Spring boot에서 권장하는 템플릿 엔진 중 하나로
		HTML 파일 내에서 java 객체를 직접 출력하거나 제어문(조건문, 반복문)을
		사용할 구 있게 해주는 엔진이다.
	</p>
	<br>
	<p>
		Jsp처럼 서버 데이터를 표현 가능
		HTML에 친화적이므로 브라우저에서 깨지지 않고 잘표현됨, 문법 직관적임
	</p>

	<h2>2. Thymeleaf 문법</h2>
	<h3>1) 데이터 접근</h3>
	<ol>
		<li>
			<code>${x}</code> : Model(request 영역)에 저장된 데이터에 접근<br>
			ex) model.addAttribute("x", data);
		</li>
		<br>
		<li>
			<code>${param.x}</code> : HTTP 요청 파라미터 데이터에 접근<br>
			ex) url?x=data
		</li>
		<br>
		<li>
			<code>${session.x}</code> : 세션 영역에 저장된 데이터에 접근<br>
			ex) session.setAttribute("x", data);
		</li>
		<br>
		<li>
			<code>${application.x}</code> : 어플리케이션 영역에 저장된 데이터 접근<br>
			ex) application.setAttribute("x", data);
		</li>
	</ol>

	<h3>2) 데이터 표현</h3>
	<ol>
		<li>
			<code>${x}</code> : 단순 변수에 참조(접근)
		</li>
		<br>
		<li th:text="값">
			<code>*{x}</code> : th:object로 바인딩된 객체의 속성에 접근할 때 사용<br>
			ex) 주로 form 태그에서 사용<br>
		<pre>
	public User{
		private String id;
		private String pwd;
	}
	model.addAttribute("user", new User());
		</pre>
		<pre>
	&lt; form th:object="${user}"> <br>
		&lt;input type="text" name="userId" th:field="*{id}" /><br>
		&lt;input type="password" name="userPwd" th:field="*{pwd}" /><br>
	&lt;/form>
		</pre>
		</li>
		<li>
			<code>#{x}</code> : 메세지 표현<br>
			- 고정 텍스트 또는 다국어 처리(i18n) 시 사용.<br>
			- messages.properties 파일에 설정된 데이터를 가져옴.<br>
			- 키-밸류 ex) btn.save=저장, btn.cancel=취소, key=value 형식
		</li>
		<br>
		<li>
			<code>@{x}</code> : URL 링크 표현<br>
			ex) 동적인 링크 생성 시 사용<br>
			<br>
			&lt;a th:href="@{/product/detail(id=${product.id})}">상세보기&lt;/a>
		</li>
		<br>
		<li>
			<code>~{x}</code> : Fragment 표현<br>
			Fragment : 템플릿 조각 의미<br>
			<ul>
				<li>[Fragment 정의] th:fragment="이름"</li>

				<li>th:include (대상 템플릿 내용만 포함)
					<div th:include="~{fragments/test :: header}"
						style="color:blue;border:1px solid red;"></div>
				</li>
				<li>th:insert ( 대상 템플릿 삽입)
					<div th:insert="~{fragments/test :: header}"
						style="color:blue;border:1px solid red;"></div>
				</li>
				<li>th:replace (대상 템플릿으로 대체)
					<div th:replace="~{fragments/test :: header}"
						style="color:blue;border:1px solid red;"></div>
				</li>
			</ul>
		</li>
	</ol>

	<h3>3) 변수(데이터) 출력</h3>
	<ul>
		<li>
			<code>th:text="${변수명}</code> : 일반 요소의 텍스트 출력
		</li>
		<li>
			<code>th:value="${변수명}"</code> : 입력 요소의 텍스트를 출력 <br>
			* textarea 의 경우 th:text 사용!
		</li>
	</ul>
	<pre>
	model.addAttribute("post", new Post());

	@Data // getter가 있어야 post.title 가능
	public Post{
		private String title;
	}

	&lt;span th:text="${post.title}">제목 &lt;/span>
	&lt;input type="text" value="제목" th:value="${post.title}" />
	</pre>

	<h3>4) 텍스트 출력</h3>
	<!--th:inline (타임리프가 인라인 표현식을 해석하지 못하게 막는 설정)-->
	<ul th:inline="none">
		<li>
			<code>[[${변수}]]</code> : 텍스트 그대로 출력
		</li>
		<li>
			<code>[(${변수})]</code> : html 요소가 있는 경우 해석해서 출력
		</li>
	</ul>

	<h3>5) 조건문 </h3>
	<p>
		<code>th:if</code>, <code>th:unless</code> : 조건에 따라 출력
	</p>
	<pre>
	&lt;div th:if="${session.loginUser != null}">xxx 사용자 접속&lt;/div>

	&lt;div th:unless="${session.loginUser">로그인이 필요합니다!&lt;/div>
	unless => false로 인식
	</pre>

	<h3>6) 반복문</h3>
	<p>
		<code>th:each"변수명 : ${리스트}"</code> : 리스트를 순차적으로 반복(순회)
	</p>
	<pre>
	&lt;tr th:each="product : ${productList}">
		&lt;td th:text="${product.name}">제품명&lt;/td>
		&lt;td th:text="${product.price}">가격&lt;/td>
	&lt;/tr>
	</pre>

	<h3>7) 날짜 포맷</h3>
	<p>
		<code>#dates.format(날짜, 형식)</code>
	</p>
	&lt;span th:text="${#dates.format(product.createDate, 'yyyy-MM-dd')}">여기에 날짜를 표시.&lt;/span>

	<h3>8) 그 외의 표현식</h3>
	<ul>
		<li>
			<code>${#lists.size(리스트)}</code> : 리스트 길이
		</li>
		<li>
			<code>${#strings.substring(문자열, 시작위치, 끝위치)}</code> : 문자열의 특정 위치 추출(자르기)
		</li>
		<li>
			<code>${#dates.createNow()}</code> : 현재 시간 정보 조회
		</li>
	</ul>
	<!-- 현재 시간 정보를 2025-04-17 16:09:30" 형식으로 출력 -->
	 <span th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}">현재 시간</span>
</body>
</html>