<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
  <select id="countByUserId" resultType="_int">
    SELECT COUNT(*) 
    FROM TB_USER 
    WHERE USER_ID = #{userId}
  </select>
  <select id="selectByUserIdAndUserPwd" resultType="UserDTO">
  	SELECT 	USER_ID userId
  			, NICKNAME
  			, EMAIL
  	FROM TB_USER
  	WHERE USER_ID = #{userId} and USER_PWD = #{userPwd}
  </select>
  <insert id="insertUser">
  	INSERT INTO TB_USER VALUES (
  							#{userId},
  							#{userPwd},
  							#{nickname},
  							#{email},
  							default)
  </insert>
</mapper>